body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:843px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:539px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:63px;
  width:388px;
  height:539px;
  display:flex;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:85px;
  width:231px;
  height:27px;
  display:flex;
  font-size:14px;
}
#u773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:445px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:118px;
  width:372px;
  height:445px;
  display:flex;
}
#u774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:137px;
  width:157px;
  height:19px;
  display:flex;
  color:#999999;
}
#u775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:393px;
  width:84px;
  height:19px;
  display:flex;
  color:#999999;
}
#u776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:2px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:415px;
  width:163px;
  height:1px;
  display:flex;
}
#u777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:500px;
  width:335px;
  height:40px;
  display:flex;
}
#u778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u779 label {
  left:0px;
  width:100%;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:139px;
  width:40px;
  height:15px;
  display:flex;
}
#u779 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u779_img.selected {
}
#u779.selected {
}
#u779_img.disabled {
}
#u779.disabled {
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u779_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u780 label {
  left:0px;
  width:100%;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:139px;
  width:40px;
  height:15px;
  display:flex;
}
#u780 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u780_img.selected {
}
#u780.selected {
}
#u780_img.disabled {
}
#u780.disabled {
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u780_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:165px;
  width:182px;
  height:19px;
  display:flex;
  color:#999999;
}
#u781 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u781_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u782 label {
  left:0px;
  width:100%;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:167px;
  width:40px;
  height:15px;
  display:flex;
}
#u782 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u782_img.selected {
}
#u782.selected {
}
#u782_img.disabled {
}
#u782.disabled {
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u782_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u783 label {
  left:0px;
  width:100%;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:167px;
  width:40px;
  height:15px;
  display:flex;
}
#u783 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u783_img.selected {
}
#u783.selected {
}
#u783_img.disabled {
}
#u783.disabled {
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u783_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:192px;
  width:112px;
  height:19px;
  display:flex;
  color:#999999;
}
#u784 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u785 label {
  left:0px;
  width:100%;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:194px;
  width:40px;
  height:15px;
  display:flex;
}
#u785 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u785_img.selected {
}
#u785.selected {
}
#u785_img.disabled {
}
#u785.disabled {
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u785_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u786 label {
  left:0px;
  width:100%;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:194px;
  width:40px;
  height:15px;
  display:flex;
}
#u786 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u786_img.selected {
}
#u786.selected {
}
#u786_img.disabled {
}
#u786.disabled {
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u786_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:222px;
  width:210px;
  height:19px;
  display:flex;
  color:#999999;
}
#u787 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u788 label {
  left:0px;
  width:100%;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:224px;
  width:40px;
  height:15px;
  display:flex;
}
#u788 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u788_img.selected {
}
#u788.selected {
}
#u788_img.disabled {
}
#u788.disabled {
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u788_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u789 label {
  left:0px;
  width:100%;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:224px;
  width:40px;
  height:15px;
  display:flex;
}
#u789 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u789_img.selected {
}
#u789.selected {
}
#u789_img.disabled {
}
#u789.disabled {
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:24px;
  word-wrap:break-word;
  text-transform:none;
}
#u789_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:264px;
  width:56px;
  height:19px;
  display:flex;
  color:#999999;
}
#u790 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u791 label {
  left:0px;
  width:100%;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:266px;
  width:75px;
  height:15px;
  display:flex;
}
#u791 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u791_img.selected {
}
#u791.selected {
}
#u791_img.disabled {
}
#u791.disabled {
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u791_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u792 label {
  left:0px;
  width:100%;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:292px;
  width:75px;
  height:15px;
  display:flex;
}
#u792 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u792_img.selected {
}
#u792.selected {
}
#u792_img.disabled {
}
#u792.disabled {
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u792_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u793 label {
  left:0px;
  width:100%;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:318px;
  width:75px;
  height:15px;
  display:flex;
}
#u793 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u793_img.selected {
}
#u793.selected {
}
#u793_img.disabled {
}
#u793.disabled {
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u793_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u794 label {
  left:0px;
  width:100%;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:344px;
  width:75px;
  height:15px;
  display:flex;
}
#u794 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u794_img.selected {
}
#u794.selected {
}
#u794_img.disabled {
}
#u794.disabled {
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:59px;
  word-wrap:break-word;
  text-transform:none;
}
#u794_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u795 label {
  left:0px;
  width:100%;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:370px;
  width:97px;
  height:15px;
  display:flex;
}
#u795 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
}
#u795_img.selected {
}
#u795.selected {
}
#u795_img.disabled {
}
#u795.disabled {
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:81px;
  word-wrap:break-word;
  text-transform:none;
}
#u795_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:396px;
  width:158px;
  height:19px;
  display:flex;
}
#u796 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:490px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:63px;
  width:226px;
  height:490px;
  display:flex;
}
#u797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
