body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:981px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:594px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:594px;
  display:flex;
}
#u2613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:56px;
  display:flex;
}
#u2614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2615_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:17px;
  width:73px;
  height:22px;
  display:flex;
  font-size:12px;
}
#u2615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:20px;
  width:15px;
  height:15px;
  display:flex;
}
#u2616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:973px;
  height:500px;
  display:flex;
}
#u2617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:914px;
  height:257px;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:27px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:27px;
  display:flex;
}
#u2619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:120px;
  height:27px;
  display:flex;
}
#u2620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:27px;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:157px;
  height:27px;
  display:flex;
}
#u2621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:92px;
  height:27px;
  display:flex;
}
#u2622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:27px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:129px;
  height:27px;
  display:flex;
}
#u2623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:0px;
  width:138px;
  height:27px;
  display:flex;
}
#u2624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:0px;
  width:105px;
  height:27px;
  display:flex;
}
#u2625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:173px;
  height:36px;
  display:flex;
}
#u2626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:27px;
  width:120px;
  height:36px;
  display:flex;
}
#u2627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:27px;
  width:157px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:27px;
  width:92px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:27px;
  width:129px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u2631 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:27px;
  width:138px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u2632 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:27px;
  width:105px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
}
#u2633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:173px;
  height:37px;
  display:flex;
}
#u2633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:37px;
}
#u2634 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:63px;
  width:120px;
  height:37px;
  display:flex;
}
#u2634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
}
#u2635 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:63px;
  width:157px;
  height:37px;
  display:flex;
  color:#000000;
}
#u2635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:37px;
}
#u2636 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:63px;
  width:92px;
  height:37px;
  display:flex;
  color:#000000;
}
#u2636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u2637 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:63px;
  width:129px;
  height:37px;
  display:flex;
  color:#000000;
}
#u2637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u2638 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:63px;
  width:138px;
  height:37px;
  display:flex;
  color:#000000;
}
#u2638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u2639 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:63px;
  width:105px;
  height:37px;
  display:flex;
  color:#000000;
}
#u2639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:36px;
}
#u2640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:173px;
  height:36px;
  display:flex;
}
#u2640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u2641 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:100px;
  width:120px;
  height:36px;
  display:flex;
}
#u2641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:36px;
}
#u2642 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:100px;
  width:157px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:36px;
}
#u2643 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:100px;
  width:92px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:36px;
}
#u2644 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:100px;
  width:129px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
}
#u2645 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:100px;
  width:138px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u2646 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:100px;
  width:105px;
  height:36px;
  display:flex;
  color:#000000;
}
#u2646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:173px;
  height:30px;
  display:flex;
}
#u2647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2648 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:136px;
  width:120px;
  height:30px;
  display:flex;
}
#u2648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u2649 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:136px;
  width:157px;
  height:30px;
  display:flex;
}
#u2649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2650 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:136px;
  width:92px;
  height:30px;
  display:flex;
}
#u2650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u2651 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:136px;
  width:129px;
  height:30px;
  display:flex;
}
#u2651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2652 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:136px;
  width:138px;
  height:30px;
  display:flex;
}
#u2652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u2653 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:136px;
  width:105px;
  height:30px;
  display:flex;
}
#u2653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:31px;
}
#u2654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:173px;
  height:31px;
  display:flex;
}
#u2654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:31px;
}
#u2655 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:166px;
  width:120px;
  height:31px;
  display:flex;
}
#u2655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:31px;
}
#u2656 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:166px;
  width:157px;
  height:31px;
  display:flex;
}
#u2656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u2657 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:166px;
  width:92px;
  height:31px;
  display:flex;
}
#u2657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:31px;
}
#u2658 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:166px;
  width:129px;
  height:31px;
  display:flex;
}
#u2658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:31px;
}
#u2659 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:166px;
  width:138px;
  height:31px;
  display:flex;
}
#u2659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u2660 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:166px;
  width:105px;
  height:31px;
  display:flex;
}
#u2660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:173px;
  height:30px;
  display:flex;
}
#u2661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2662 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:197px;
  width:120px;
  height:30px;
  display:flex;
}
#u2662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u2663 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:197px;
  width:157px;
  height:30px;
  display:flex;
}
#u2663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2664 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:197px;
  width:92px;
  height:30px;
  display:flex;
}
#u2664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u2665 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:197px;
  width:129px;
  height:30px;
  display:flex;
}
#u2665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2666 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:197px;
  width:138px;
  height:30px;
  display:flex;
}
#u2666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u2667 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:197px;
  width:105px;
  height:30px;
  display:flex;
}
#u2667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u2668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:227px;
  width:173px;
  height:30px;
  display:flex;
}
#u2668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u2669 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:227px;
  width:120px;
  height:30px;
  display:flex;
}
#u2669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
}
#u2670 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:227px;
  width:157px;
  height:30px;
  display:flex;
}
#u2670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u2671 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:227px;
  width:92px;
  height:30px;
  display:flex;
}
#u2671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:30px;
}
#u2672 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:227px;
  width:129px;
  height:30px;
  display:flex;
}
#u2672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u2673 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:227px;
  width:138px;
  height:30px;
  display:flex;
}
#u2673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:227px;
  width:105px;
  height:30px;
  display:flex;
}
#u2674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2675_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  padding:3px 2px 3px 2px;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#CCCCCC;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:152px;
  height:22px;
  display:flex;
  color:#CCCCCC;
}
#u2675 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2675_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2675.disabled {
}
.u2675_input_option {
}
#u2676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:17px;
  width:131px;
  height:22px;
  display:flex;
  color:#CCCCCC;
}
#u2676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:20px;
  width:15px;
  height:15px;
  display:flex;
}
#u2677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:17px;
  width:131px;
  height:22px;
  display:flex;
  color:#CCCCCC;
}
#u2678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:20px;
  width:15px;
  height:15px;
  display:flex;
}
#u2679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:17px;
  width:73px;
  height:22px;
  display:flex;
  font-size:12px;
}
#u2680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:20px;
  width:15px;
  height:15px;
  display:flex;
}
#u2681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
